.page-wrap{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
}
.header{
    display: block;
    width: 100%;
    overflow: hidden;
}
.logo{
    float: left;
    display: block;
    margin: 30px auto;
    width: 25%;
    text-align: center;
}
.info-top{
    float: right;
    width: 75%;
    text-align: center;
}
.info-top h2{
    text-transform: uppercase;
}
.info-top p{
    font-size: 14px;
}
.content h2{
    text-align: center;
    text-transform: uppercase;
}
.table-info{
    width: 90%;
    margin: 0 auto;
    height: 100px;
}
.table-listmenu{
    width: 90%;
    margin: 0 auto;
}